body {
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.container {
  max-width: 1250px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 30px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/027/590/original/01d.jpg?1645326234");
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.container2 {
  margin: 65px;
}

#largeSymbol {
  font-size: 250px;
}

form {
  padding: 30px;
}
h1 {
  text-transform: capitalize;
}
.left-col {
  margin: 150px;
}
.left-col .location {
  text-transform: capitalize;
  text-align: left;
  position: relative;
  left: 75px;
  top: 55px;
  font-size: 60px;
  font-weight: 100;
}

.left-col .localTemp {
  text-align: left;
  position: relative;
  left: 75px;
  top: 50px;
  font-size: 140px;
  font-weight: 500;
}

.right-col {
  font-family: Helvetica, sans-serif;
}

ul {
  position: relative;
  top: 28px;
  padding: 0px;
}
li {
  text-align: right;
  font-size: 25px;
  position: relative;
  top: 60px;
  margin: 0 auto;
  padding: 0px;
  list-style-type: none;
}
h3 {
  text-align: right;
  font-size: 50px;
  font-weight: 100;
  position: relative;
  top: 0px;
}

li:first-letter {
  text-transform: capitalize;
}

h5 {
  color: black;
}
.h5MeanTemp {
  color: black;
  font-size: 30px;
}
.col-sm {
  color: #808eb4;
}
.bg-white {
  --bs-bg-opacity: 0.5;
}
.symbol {
  font-size: 30px;
}

.tempUnits {
  font-size: 30px;
  vertical-align: top;
  position: relative;
  top: 28px;
  left: -10px;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}

a.credit {
  color: rgb(20, 100, 200);
  font-size: 15px;
  display: block;
}

a:hover {
  color: orange;
}
a .link {
  color: white;
}
