body {
  color: white;
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.container {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 30px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/025/955/original/FreeVector-Rain-Background.jpg?1643503251");
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}
form {
  padding: 30px;
}
.title {
  padding: 140px;
}
.title .location {
  font-size: 60px;
  font-weight: 100;
}

.title .localTemp {
  font-size: 130px;
  font-weight: 500;
}

h5 {
  color: black;
}
.h5MeanTemp {
  color: black;
  font-size: 30px;
}
.col-sm {
  color: #808eb4;
}
.bg-white {
  --bs-bg-opacity: 0.5;
}
.symbol {
  font-size: 30px;
}

.tempUnits {
  font-size: 30px;
  vertical-align: top;
  position: relative;
  top: 28px;
  left: -10px;
  text-decoration: none;
}
a {
  color: white;
  text-decoration: none;
}
ul {
  padding: 0px;
}
li {
  margin: 0 auto;
  padding: 0px;
  list-style-type: none;
}
a.credit {
  color: rgb(20, 100, 200);
  font-size: 15px;
  display: block;
}

/*a:hover {
        color: orange;
      }
      a .link {
        color: white;
      }*/
